<%- include layouts/header.ejs %>

	<div class="page-data">
		<form method="post" action="/orders/add">
			<table cellpadding="11">
			<tr>
                <td class="label">product</td>
                    <td>
                        <select name="productid">
                        <% for(var i = 0; i < data.length; i++) { %>
                            <option value = "<%= data[i].productid %>"> <%= data[i].name %>  <%= data[i].quantity %>  <%= data[i].price %>  </option>
                        <%  } %>
                        </select>
                    </td>
                </tr>
                <tr>
                <td class="label">user</td>
                    <td>
                        <select name="userid">
                        <% for(var i = 0; i < data1.length; i++) { %>
                            <option value = "<%= data1[i].userid %>"> <%= data1[i].name %> </option>
                        <%  } %>
                        </select>
                    </td>
                </tr>
                
				<tr>
					<td class="label">quantity</td><td>:<input type="text" name="quantity"  placeholder="23" required></td>

				</tr>
				
				<tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
			</table>
		</form>
	</div>

<%- include layouts/footer.ejs %>